In [31]:
import pandas as pd

df = pd.read_csv('./data/Crime_Data_from_2020_to_Present.csv')

df.head(3)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002

In [32]:
print(df.isnull().sum())

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151741
Vict Age                0
Vict Sex           144765
Vict Descent       144777
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677885
Weapon Desc        677885
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935996
Crm Cd 3          1002835
Crm Cd 4          1005085
LOCATION                0
Cross Street       850909
LAT                     0
LON                     0
dtype: int64

In [33]:
# Handle missing values and data type conversion

# drop rows for missing data in key fields : Currently Crm CD 1 for this data set
df = df.dropna(subset=['Status'])

In [34]:
# drop columns Crm Cd 2, Crm Cd 3, Crm Cd 4, Cross Street
df = df.drop(['Crm Cd 1','Crm Cd 2','Crm Cd 3', 'Crm Cd 4', 'Cross Street'], axis = 1, errors='ignore')

In [35]:
print(df.columns)

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'LOCATION',
       'LAT', 'LON'],
      dtype='object')

In [36]:
# Fill in missing values in non-essential fields
df['Vict Age'].fillna(df['Vict Age'].median(), inplace=True)
df['Weapon Desc'].fillna('UNKNOWN', inplace=True)
df['Weapon Used Cd'].fillna(0, inplace=True)
df['Mocodes'].fillna(0, inplace=True)
df['Vict Sex'].fillna('X', inplace=True)
df['Premis Cd'].fillna(0, inplace=True)
df['Premis Desc'].fillna('UNKNOWN', inplace=True)
df['Vict Descent'].fillna('X', inplace=True)

/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Vict Age'].fillna(df['Vict Age'].median(), inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weapon Desc'].fillna('UNKNOWN', inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weapon Used Cd'].fillna(0, inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Mocodes'].fillna(0, inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Vict Sex'].fillna('X', inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Premis Cd'].fillna(0, inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Premis Desc'].fillna('UNKNOWN', inplace=True)
/var/folders/ys/lk23tv6515z7gyrf4z6n1kwc0000gn/T/ipykernel_4652/939121336.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Vict Descent'].fillna('X', inplace=True)

In [37]:
print(df.columns)

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'LOCATION',
       'LAT', 'LON'],
      dtype='object')

In [38]:
print(df.isnull().sum())

DR_NO             0
Date Rptd         0
DATE OCC          0
TIME OCC          0
AREA              0
AREA NAME         0
Rpt Dist No       0
Part 1-2          0
Crm Cd            0
Crm Cd Desc       0
Mocodes           0
Vict Age          0
Vict Sex          0
Vict Descent      0
Premis Cd         0
Premis Desc       0
Weapon Used Cd    0
Weapon Desc       0
Status            0
Status Desc       0
LOCATION          0
LAT               0
LON               0
dtype: int64

In [39]:
# Check for and clear duplicates
df = df.drop_duplicates(subset=['DR_NO'])

In [41]:
# Verify column types and preview data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 1005148 entries, 0 to 1005148
Data columns (total 23 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1005148 non-null  int64
 1   Date Rptd       1005148 non-null  object
 2   DATE OCC        1005148 non-null  object
 3   TIME OCC        1005148 non-null  int64
 4   AREA            1005148 non-null  int64
 5   AREA NAME       1005148 non-null  object
 6   Rpt Dist No     1005148 non-null  int64
 7   Part 1-2        1005148 non-null  int64
 8   Crm Cd          1005148 non-null  int64
 9   Crm Cd Desc     1005148 non-null  object
 10  Mocodes         1005148 non-null  object
 11  Vict Age        1005148 non-null  int64
 12  Vict Sex        1005148 non-null  object
 13  Vict Descent    1005148 non-null  object
 14  Premis Cd       1005148 non-null  float64
 15  Premis Desc     1005148 non-null  object
 16  Weapon Used Cd  1005148 non-null  float64
 17  Weapon Desc     1005148 non-null  object
 18  Status          1005148 non-null  object
 19  Status Desc     1005148 non-null  object
 20  LOCATION        1005148 non-null  object
 21  LAT             1005148 non-null  float64
 22  LON             1005148 non-null  float64
dtypes: float64(4), int64(7), object(12)
memory usage: 184.0+ MB
None

In [42]:
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  200412582  09/09/2020 12:00:00 AM  09/09/2020 12:00:00 AM       630     4

    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Wilshire          784         1     510
1     Central          182         1     330
2   Southwest          356         1     480
3    Van Nuys          964         1     343
4  Hollenbeck          413         1     510

                                Crm Cd Desc  ... Vict Descent  Premis Cd  \
0                          VEHICLE - STOLEN  ...            O      101.0
1                     BURGLARY FROM VEHICLE  ...            O      128.0
2                             BIKE - STOLEN  ...            X      502.0
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...            O      405.0
4                          VEHICLE - STOLEN  ...            X      101.0

                                    Premis Desc Weapon Used Cd  Weapon Desc  \
0                                        STREET            0.0      UNKNOWN
1             BUS STOP/LAYOVER (ALSO QUERY 124)            0.0      UNKNOWN
2  MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)            0.0      UNKNOWN
3                                CLOTHING STORE            0.0      UNKNOWN
4                                        STREET            0.0      UNKNOWN

  Status   Status Desc                                  LOCATION      LAT  \
0     AA  Adult Arrest   1900 S  LONGWOOD                     AV  34.0375
1     IC   Invest Cont   1000 S  FLOWER                       ST  34.0444
2     IC   Invest Cont   1400 W  37TH                         ST  34.0210
3     IC   Invest Cont  14000    RIVERSIDE                    DR  34.1576
4     IC   Invest Cont                          200 E  AVENUE 28  34.0820

        LON
0 -118.3506
1 -118.2628
2 -118.3002
3 -118.4387
4 -118.2130

[5 rows x 23 columns]

In [ ]:
# Save to csv for extraction into data warehouse
df.to_csv('./data/cleaned_crime_data.csv', index=False)